<table summary="Profile form fields">
  <tr>
    <th><%= p.label(:bathshower) %></th>
    <td><%= p.text_field(:bathshower, :size => "4" ) %></td>
  </tr>
  <tr>
    <th><%= p.label(:kitchen) %></th>
    <td><%= p.text_field(:kitchen, :size => "4" ) %></td>
  </tr>

   <tr>
    <th><%= p.label(:sinks) %></th>
    <td><%= p.text_field(:sinks, :size => "4" ) %></td>
  </tr>

    <tr>
    <th><%= p.label(:other) %></th>
    <td><%= p.text_field(:other, :size => "4" ) %></td>
  </tr>
  


   
</table>